<div class="plan-overview mat-elevation-z1">
  <div class="plan-overview__buttons">
    <button mat-icon-button aria-label="Fit inside view" title="Fit inside view" (click)="fitScreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button mat-icon-button aria-label="Zoom out" title="Zoom out" (click)="zoomOut()">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-icon-button aria-label="Zoom in" title="Zoom in" (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </div>

  <app-cryton-tooltip
    *ngIf="planOverview.displayTooltip$ | async as tooltip"
    [x]="tooltip.x"
    [y]="tooltip.y"
    [orientation]="tooltip.orientation">
    <div class="tooltip">
      <ng-container *ngIf="tooltip.nodeType === NodeType.CRYTON_STAGE; else crytonStepData">
        <div *ngIf="asStageDescription(tooltip.data) as stage">
          <div class="tooltip__heading">{{ stage.name }}</div>
          <div class="tooltip__body">
            <span><b>Trigger type:</b> {{ stage.trigger_type | shortString: maxTooltipTextLength }}</span>
            <span><b>Trigger arguments:</b></span>
            <app-code-preview [code]="stageArgsToYAML(stage)" [showCopyButton]="false"></app-code-preview>
          </div>
        </div>
      </ng-container>

      <ng-template #crytonStepData>
        <div *ngIf="asStepDescription(tooltip.data) as step">
          <div class="tooltip__heading">{{ step.name }}</div>
          <div class="tooltip__body">
            <span><b>Step type:</b> {{ step.step_type | shortString: maxTooltipTextLength }}</span>
            <span><b>Step arguments:</b></span>
            <app-code-preview [code]="stepArgsToYaml(step)" [showCopyButton]="false"></app-code-preview>
          </div>
        </div>
      </ng-template>
    </div>
  </app-cryton-tooltip>

  <app-konva-container [konvaWrapper]="planOverview"> </app-konva-container>
</div>
