.plan-overview {
  height: 1000px;
  border-radius: 5px;
  position: relative;

  &__buttons {
    right: 0;
    top: 0;
    z-index: 999;
    display: flex;
    position: absolute;
    gap: 0.5em;
    padding: 0.5em;
  }
}

// Tooltip
.tooltip {
  &__heading {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    color: rgb(38, 39, 41);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  }

  &__body {
    display: flex;
    flex-direction: column;

    b {
      color: rgb(78, 80, 83);
    }
    span {
      color: rgb(104, 106, 109);
    }
  }
}
