@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $colorconfig: mat.get-color-config($theme);
  $background: map.get($colorconfig, background);

  tr.cryton-table__row--expansion td {
    border-top: 1px solid map.get($background, unselected-chip);
    border-bottom: 1px solid map.get($background, unselected-chip);
  }
}
