<div class="timeline">
  <header class="timeline__header">
    <app-tick-size-picker (tickChange)="timeline.tickSeconds = $event" [allowMillis]="false"></app-tick-size-picker>

    <div class="timeline__buttons">
      <!-- Help -->
      <button mat-button (click)="openHelp()" type="button"><mat-icon color="primary">info</mat-icon> Help</button>

      <!-- Navigation buttons -->
      <button
        mat-button
        *ngFor="let button of navigationButtons"
        (click)="navigateTo(button.componentName)"
        type="button">
        <mat-icon color="primary">{{ button.icon }}</mat-icon
        >{{ ' ' + button.name }}
      </button>
    </div>
  </header>

  <div class="timeline__main">
    <div class="timeline__menu">
      <!-- Enable vertical movement -->
      <button mat-icon-button title="Move vertically" type="button">
        <mat-icon
          (click)="timeline.toolState.flipVerticalMove()"
          [class.timeline__button--active]="isVerticalMoveEnabled"
          >swap_vert</mat-icon
        >
      </button>

      <!-- Enable subgraph movement -->
      <button mat-icon-button title="Move subgraph" type="button">
        <mat-icon
          style="font-size: 18px"
          (click)="timeline.toolState.flipGraphMove()"
          [class.timeline__button--active]="isGraphMoveEnabled"
          >share</mat-icon
        >
      </button>

      <!-- Sort timeline -->
      <button mat-icon-button title="Sort timeline" type="button" (click)="organize()">
        <mat-icon class="white" style="font-size: 18px">auto_awesome</mat-icon>
      </button>
    </div>

    <div class="timeline__canvas">
      <app-konva-container [konvaWrapper]="timeline"></app-konva-container>
    </div>
  </div>
</div>
