.timeline {
  display: flex;
  flex-direction: column;
  height: calc(40vh + 5vw);
  max-height: 50vh;
  min-height: 400px;
  gap: 0.8em;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

    mat-form-field {
      font-size: 12px;
      width: 170px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__main {
    display: flex;
    flex: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    padding: 0 0.3em;
    width: fit-content;
  }

  &__canvas {
    flex: 1;
  }
}

#timeline-container {
  width: calc(100% - 40px);
  height: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttons {
    height: fit-content;
    display: flex;
    gap: 10px;
  }
}

.timeline--menu {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.timeline-wrapper {
  display: flex;
  height: 100%;
}
