/* MAIN */
.worker {
  font-size: 1rem;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__state {
    font-size: 1.2em;
    margin-left: 1em;
    display: flex;
    align-items: center;

    mat-spinner {
      margin: 0 0.6em;
    }
  }

  &__id {
    --id-box-size: 5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.4em;
    width: var(--id-box-size);
    height: var(--id-box-size);
  }

  /* Definition list */
  &__data {
    padding: 1em;
    margin: 0;
    height: 15em;
  }

  &__definition {
    color: rgb(182, 182, 182);
  }

  &__value {
    margin-left: 0.5em;
  }

  &__divider {
    margin: 1em 0 !important;
  }
}
