<div class="worker">
  <app-cryton-card *ngIf="data" [noPadding]="true" [enableAnimation]="false" [noBorder]="true" class="worker__card">
    <header class="worker__header" [ngClass]="[getStateClass(data.state)]">
      <!-- HEADER -->
      <div class="worker__state">
        <button
          mat-icon-button
          (click)="healthCheck()"
          *ngIf="!(healthCheckBtn.loading$ | async).includes(data); else loading"
          matTooltip="Healthcheck">
          <mat-icon>health_and_safety</mat-icon>
        </button>
        <ng-template #loading>
          <mat-spinner diameter="20" strokeWidth="3" color="accent"></mat-spinner>
        </ng-template>
        <b class="worker__state-name">{{ data.state }}</b>
      </div>

      <aside class="worker__id state--darker" [ngClass]="getStateClass(data.state)">
        <span class="worker__id-text"><b>ID:</b> {{ data.id }}</span>
      </aside>
    </header>

    <!-- TABLE -->
    <dl class="worker__data">
      <dt class="worker__definition"><b>Name:</b></dt>
      <dd class="worker__value" [matTooltip]="getTooltip(data.name)" id="name-text">
        {{ data.name | shortString: maxStringLength }}
      </dd>

      <mat-divider inset class="worker__divider"></mat-divider>

      <dt class="worker__definition"><b>Description:</b></dt>
      <dd class="worker__value" [matTooltip]="getTooltip(data.description)" id="description-text">
        {{ data.description | shortString: maxStringLength }}
      </dd>
    </dl>
  </app-cryton-card>
</div>
