@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);

  .overview-item__required {
    color: map.get($primary, default);
  }
  .overview-item__data-cell--lighter {
    background: map.get($primary, default);
    color: mat.get-contrast-color-from-palette($primary, contrast);
  }
  .overview-item__data-cell--darker {
    background: map.get($primary, darker);
    color: mat.get-contrast-color-from-palette($primary, contrast);
  }
}
