/* Editor */
.editor {
  height: 100%;
  display: flex;
  gap: 1.5rem;

  &__steps {
    flex: 4;
  }

  &__overview {
    flex: 2;
  }

  &__overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__overview-items {
    padding: 1em 0;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  &__creating {
    height: 100%;
    padding: 3em 0;
    flex-direction: column;
    gap: 1em;
  }
}

/* Overview item */
.overview-item {
  overflow: hidden;

  &__name {
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    margin: 0.3em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__data {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
    gap: 0.5em;
  }

  &__required {
    font-size: var(--font-size-small);
  }

  &__data-cell {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }

  &__data-cell-name {
    padding: 0.2em 1em;

    &--undefined {
      background: var(--gray-600);
      color: var(--gray-200);
    }
  }

  &__data-cell-id {
    border-radius: 5px;
    padding: 0 1em;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .editor {
    flex-direction: column;
    gap: 2em;

    &__steps {
      border-right: none;
    }
  }
}
