<div class="editor">
  <!-- STEPS -->
  <div class="editor__steps" [style.flex]="stepsComponentFlex">
    <ng-template appComponentHost></ng-template>
  </div>

  <!-- CREATION OVERVIEW -->
  <div class="editor__overview">
    <ng-container *ngIf="(creatingSubject$ | async) === false; else creatingDisplay">
      <!-- OVERVIEW HEADER -->
      <header class="editor__overview-header">
        <b class="bold-info">{{ itemName | titlecase }} overview</b>
        <button
          mat-flat-button
          *ngIf="'Erase ' + (itemName | lowercase) as buttonName"
          (click)="eraseProgress()"
          [attr.aria-label]="buttonName">
          <mat-icon>delete</mat-icon>&nbsp;{{ buttonName }}
        </button>
      </header>

      <!-- OVERVIEW ITEMS -->
      <aside class="editor__overview-items cryton-scrollbar">
        <div class="overview-item" *ngFor="let overviewItem of stepOverviewItems; index as i">
          <div class="overview-item__name">
            <b
              >{{ overviewItem.name }}
              <sup *ngIf="overviewItem.required" class="overview-item__required">*</sup>
            </b>
          </div>
          <div class="overview-item__data">
            <ng-container [ngSwitch]="overviewItem.type">
              <!-- ITEM TYPE: COMPLETION -->
              <ng-container *ngSwitchCase="0">
                <ng-container *ngIf="stepOverviewData[i] | async; else noData">
                  <p class="overview-item__data-cell overview-item__data-cell--lighter">
                    <span class="overview-item__data-cell-name"> Complete </span>
                  </p>
                </ng-container>
                <ng-template #noData>
                  <p
                    class="overview-item__data-cell"
                    [@error]="overviewItem.required && (errorSubject$ | async) ? 'error' : 'noError'">
                    <span class="overview-item__data-cell-name overview-item__data-cell-name--undefined"
                      >Incomplete</span
                    >
                  </p>
                </ng-template>
              </ng-container>

              <!-- ITEM TYPE: CHECKBOX -->
              <ng-container *ngSwitchCase="1">
                <ng-container *ngIf="stepOverviewData[i] | async as selectables; else noData">
                  <div
                    class="overview-item__data-cell overview-item__data-cell--lighter"
                    *ngFor="let selectable of sortedSelectables(selectables)">
                    <span
                      class="overview-item__data-cell-name"
                      [matTooltip]="selectable.name.length > 13 ? selectable.name : ''">
                      {{ selectable.name | shortString: 13 }}
                    </span>
                    <span
                      *ngIf="selectable.id !== null && selectable.id !== undefined"
                      class="overview-item__data-cell--darker overview-item__data-cell-id"
                      >{{ selectable.id }}</span
                    >
                  </div>
                </ng-container>
                <ng-template #noData>
                  <p
                    class="overview-item__data-cell"
                    [@error]="overviewItem.required && (errorSubject$ | async) ? 'error' : 'noError'">
                    <b class="overview-item__data-cell-name overview-item__data-cell-name--undefined">None</b>
                  </p>
                </ng-template>
              </ng-container>

              <div *ngSwitchDefault>Invalid item type.</div>
            </ng-container>
          </div>
        </div>
      </aside>

      <!-- STEP CONTROLS -->
      <div class="editor__controls">
        <button
          mat-flat-button
          *ngIf="(currentStep$ | async) > 0"
          id="prev_btn"
          color="primary"
          (click)="changeStep(currentStep$.value - 1)">
          Previous step
        </button>
        <button
          mat-flat-button
          *ngIf="currentStep$.value < stepCount - 1"
          id="next_btn"
          color="primary"
          (click)="changeStep(currentStep$.value + 1)">
          Next step
        </button>
        <button
          mat-flat-button
          *ngIf="(currentStep$ | async) === stepCount - 1"
          id="create_btn"
          color="primary"
          (click)="triggerCreation()">
          <mat-icon>add_circle</mat-icon>&nbsp;{{ 'Create ' + (itemName | lowercase) }}
        </button>
      </div>
    </ng-container>

    <!-- CREATING DISPLAY -->
    <ng-template #creatingDisplay>
      <section class="editor__creating center-both">
        <mat-spinner></mat-spinner>
        <b class="bold-info">{{ 'Creating ' + (itemName | lowercase) }}</b>
      </section>
    </ng-template>
  </div>
</div>
