.cryton-code {
  position: relative;
  border-radius: 5px;
  padding: 1rem;

  pre {
    margin: 0;
  }
}
.copy-btn {
  color: gray;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  z-index: 999;
}
