<form [formGroup]="form" class="form cryton-scrollbar">
  <!-- Module -->
  <mat-form-field appearance="fill">
    <mat-label>Module</mat-label>
    <input matInput placeholder="Path to module..." formControlName="module" />
    <mat-error>Module is required</mat-error>
  </mat-form-field>

  <!-- Module arguments -->
  <mat-form-field appearance="fill" #argsTextarea>
    <mat-label>Module arguments (in YAML)</mat-label>
    <app-code-editor-textarea formControlName="module_arguments"></app-code-editor-textarea>
    <mat-error *ngIf="form.controls.module_arguments.hasError('required')">Module arguments are required</mat-error>
    <mat-error *ngIf="form.controls.module_arguments.hasError('invalidYaml')">Invalid YAML</mat-error>
  </mat-form-field>

  <!-- Create named session -->
  <mat-form-field appearance="fill">
    <mat-label>Create named session</mat-label>
    <input matInput placeholder="Name of created session..." formControlName="create_named_session" />
  </mat-form-field>

  <!-- Session arguments -->
  <app-session-selection-arguments></app-session-selection-arguments>
</form>
