<!-- TOP NAVBAR -->
<mat-toolbar color="primary" class="topbar">
  <button mat-icon-button (click)="resSidenav.toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="topbar__menu">
    <!-- DARK MODE TOGGLE -->
    <div class="topbar__options">
      <ng-container *ngTemplateOutlet="darkModeToggle"></ng-container>
      <ng-container *ngTemplateOutlet="backendStatus"></ng-container>
    </div>

    <!-- ACCOUNT BUTTON -->
    <button mat-button [matMenuTriggerFor]="accountMenu"><mat-icon>account_circle</mat-icon>&nbsp;Account</button>

    <!-- ACCOUNT MENU -->
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>

<!-- SIDENAV -->
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav #resSidenav="responsiveSidenav" appResponsiveSidenav opened="true" class="sidenav">
    <mat-nav-list>
      <ng-container
        *ngFor="let route of routes"
        [ngTemplateOutlet]="route.subroutes ? withSubroutes : withoutSubroutes"
        [ngTemplateOutletContext]="{ route: route }">
      </ng-container>

      <mat-divider></mat-divider>

      <ng-container
        *ngFor="let route of metaRoutes"
        [ngTemplateOutlet]="route.subroutes ? withSubroutes : withoutSubroutes"
        [ngTemplateOutletContext]="{ route: route }">
      </ng-container>

      <div class="sidenav__options">
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <ng-container *ngTemplateOutlet="backendStatus"></ng-container>
          </mat-list-item>
          <mat-list-item>
            <ng-container *ngTemplateOutlet="darkModeToggle"></ng-container>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="cryton-scrollbar">
    <main>
      <router-outlet></router-outlet>
      <div class="bottom-spacer"></div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- TEMPLATE: dark mode toggle -->
<ng-template #darkModeToggle>
  <div class="dark-mode">
    <mat-icon *ngIf="themeService.currentTheme$" class="dark-mode__icon">{{
      themeToggle.checked ? 'dark_mode' : 'light_mode'
    }}</mat-icon>
    <mat-slide-toggle
      (change)="toggleDarkMode($event)"
      #themeToggle
      [checked]="(themeService.currentTheme$ | async).isDark">
    </mat-slide-toggle>
  </div>
</ng-template>

<!-- TEMPLATE: backend status -->
<ng-template #backendStatus>
  <div class="backend-status">
    <span
      class="backend-status__dot"
      [class]="{ 'backend-status__dot--live': isBackendLive, 'backend-status__dot--offline': !isBackendLive }"></span>
    <small class="backend-status__status">{{ 'Cryton is ' + (isBackendLive ? 'live&nbsp;' : 'offline&nbsp;') }}</small>

    <button
      mat-icon-button
      matTooltip="Refresh status"
      *ngIf="(loadingStatus$ | async) === false; else loadingStatus"
      (click)="checkBackendStatus()">
      <mat-icon>refresh</mat-icon>
    </button>

    <ng-template #loadingStatus>
      <mat-spinner diameter="20" strokeWidth="3" color="accent" class="backend-status__spinner"></mat-spinner>
    </ng-template>
  </div>
</ng-template>

<!-- TEMPLATE: link without subroutes -->
<ng-template #withoutSubroutes let-route="route">
  <a
    mat-list-item
    class="sidenav__item"
    routerLinkActive="sidenav__item--active"
    [routerLink]="route.href"
    (click)="toggleRoute(route)">
    <div class="sidenav__item-highlight-line"></div>
    <span class="sidenav__item-text">{{ route.name }}</span>
    <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
  </a>
</ng-template>

<!-- TEMPLATE: link with subroutes -->
<ng-template #withSubroutes let-route="route">
  <a
    mat-list-item
    class="sidenav__item"
    routerLinkActive="sidenav__item--active"
    [routerLink]="route.href"
    (click)="toggleRoute(route)">
    <div class="sidenav__item-highlight-line"></div>
    <span class="sidenav__item-text">{{ route.name }}</span>
    <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
    <mat-icon *ngIf="route.subroutes" class="sidenav__item-expander" [class.rotated]="openRoute === route"
      >expand_more</mat-icon
    >
  </a>

  <!-- SUBLINKS -->
  <div *ngIf="route.subroutes" class="sidenav__submenu" [@toggleSublinks]="openRoute === route ? 'open' : 'closed'">
    <a mat-list-item *ngFor="let subroute of route.subroutes" [routerLink]="subroute.href"
      ><span class="sidenav__sublink" routerLinkActive="sidenav__sublink--active">{{ subroute.name }}</span></a
    >
  </div>
</ng-template>
