$form-field-padding: 1.34375em;

.step-creator {
  display: flex;
  flex-direction: column;
  gap: 0.8em;

  &__header {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }

  &__main {
    display: flex;
    gap: 0.5em;
    max-height: 100%;
  }

  &__aside {
    flex: 1;
    overflow: auto;
    padding: 0 0.5em;
    max-height: 100%;
    max-height: 45vh;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form-delete-btn {
    margin-bottom: $form-field-padding;
  }

  &__heading {
    font-size: 0.8em;
    padding-bottom: 0.3em;
    padding-bottom: 0.5em;
  }

  &__section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }

  &__undefined {
    color: gray;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
  }

  &__output-mapping {
    display: flex;
    align-items: center;
  }

  &__alert {
    display: block;
    margin-top: 1em;
  }
}
