<div class="step-creator">
  <header class="step-creator__header">
    <button mat-button (click)="openHelp()"><mat-icon color="primary" type="button">info</mat-icon> Help</button>
    <button mat-button type="button" (click)="reset()">
      <mat-icon color="primary" type="button">delete</mat-icon>&nbsp;Erase parameters
    </button>

    <div [matTooltip]="getTooltipErrors()" matTooltipClass="tooltip-error" *ngIf="!editedStep; else editingModeButtons">
      <button mat-flat-button color="primary" type="button" (click)="handleCreateStep()" [disabled]="!isValid()">
        <mat-icon>add_circle</mat-icon>&nbsp;Create step
      </button>
    </div>
  </header>

  <main class="step-creator__main">
    <aside class="step-creator__aside cryton-scrollbar">
      <div class="step-creator__heading">STEP ARGUMENTS</div>

      <form [formGroup]="stepForm" class="step-creator__form">
        <!-- NAME FORM FIELD-->
        <mat-form-field class="step-creator__form-input" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error>Name is required</mat-error>
        </mat-form-field>

        <!-- STEP TYPE FORM FIELD-->
        <mat-form-field class="step-creator__form-input" appearance="fill">
          <mat-label>Step type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let stepType of stepTypes" [value]="stepType.value">{{ stepType.name }}</mat-option>
          </mat-select>
          <mat-error>Type is required</mat-error>
        </mat-form-field>

        <!-- OUTPUT PREFIX FIELD -->
        <mat-form-field class="step-creator__form-input" appearance="fill">
          <mat-label>Output prefix</mat-label>
          <input matInput placeholder="Output prefix" formControlName="output_prefix" />
          <mat-error>Prefix can't contain '$' and '.' characters</mat-error>
        </mat-form-field>

        <!-- OUTPUT MAPPING SECTION -->
        <div class="step-creator__section-header">
          <span class="step-creator__section-heading">Output mapping</span>
          <button mat-button type="button" aria-label="Add mapping" (click)="addMapping()">
            <mat-icon color="primary">add_circle</mat-icon>&nbsp;Add mapping
          </button>
        </div>

        <mat-divider></mat-divider>

        <section class="step-creator__section">
          <div formArrayName="output_mapping">
            <div
              class="step-creator__output-mapping"
              *ngFor="let mappingForm of stepForm.controls.output_mapping.controls; index as i">
              <button
                mat-icon-button
                type="button"
                aria-label="Delete mapping"
                class="step-creator__form-delete-btn"
                (click)="removeMapping(i)">
                <mat-icon>cancel</mat-icon>
              </button>

              <form class="step-creator__form" [formGroupName]="i">
                <!-- NAME FROM -->
                <mat-form-field class="step-creator__form-input" appearance="fill">
                  <mat-label>Name from</mat-label>
                  <input matInput placeholder="Name from" formControlName="name_from" />
                  <mat-error>Field is required</mat-error>
                </mat-form-field>

                <!-- NAME TO -->
                <mat-form-field class="step-creator__form-input" appearance="fill">
                  <mat-label>Name to</mat-label>
                  <input matInput placeholder="Name to" formControlName="name_to" />
                  <mat-error>Field is required</mat-error>
                </mat-form-field>
              </form>
            </div>
            <span *ngIf="stepForm.controls.output_mapping.length === 0" class="step-creator__undefined">None</span>
          </div>
        </section>
      </form>

      <span class="creation-msg" *ngIf="showCreationMessage$ | async"
        >Step created!&nbsp;
        <button mat-button (click)="navigateToStagesDepGraph()" color="primary">Open dependency graph</button></span
      >
    </aside>

    <mat-divider [vertical]="true"></mat-divider>

    <aside class="step-creator__aside cryton-scrollbar">
      <div class="step-creator__heading">TYPE SPECIFIC ARGUMENTS</div>
      <ng-template appComponentHost></ng-template>
    </aside>
  </main>

  <ng-template #editingModeButtons>
    <button mat-flat-button (click)="handleCancelClick()" type="button" color="warn">
      <mat-icon>close</mat-icon> Cancel
    </button>
    <div [matTooltip]="getTooltipErrors()" matTooltipClass="tooltip-error">
      <button mat-flat-button (click)="handleSaveChanges()" [disabled]="!isValid()" color="primary" type="button">
        <mat-icon>settings</mat-icon>Save changes
      </button>
    </div>
  </ng-template>
</div>
