/* LAYOUT */
.create-template {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.8em;

  &__body {
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }

  &__main {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 95%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
}

/* BODY */
mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

/* SPINNER */
.spinner-container {
  height: 45vh;
  flex-direction: column;
  gap: 10px;
}
