<ng-container *ngIf="(creating$.asObservable() | async) === false; else spinner">
  <div [ngSwitch]="currentComponent" class="create-template">
    <div *ngSwitchCase="'template_params'" class="create-template__body">
      <header class="create-template__header">
        <!-- Help -->
        <button mat-button (click)="openHelp()" type="button"><mat-icon color="primary">info</mat-icon> Help</button>

        <!-- Show dependency graph -->
        <button mat-button (click)="currentComponent = 'dep_graph'" type="button">
          <mat-icon color="primary">account_tree</mat-icon> Show dependency graph
        </button>

        <!-- Show timeline -->
        <button mat-button (click)="currentComponent = 'timeline'" type="button">
          <mat-icon color="primary">schedule</mat-icon> Show timeline
        </button>

        <!-- Create template -->
        <div [matTooltip]="getCreationErrors()" matTooltipClass="tooltip-error">
          <button
            mat-flat-button
            color="primary"
            type="button"
            (click)="handleCreate()"
            [disabled]="isCreationDisabled()">
            <mat-icon>add_circle</mat-icon> Create template
          </button>
        </div>
      </header>

      <!-- Template parameters -->
      <main class="create-template__main">
        <form [formGroup]="templateForm" class="create-template__form">
          <h5>TEMPLATE PARAMETERS</h5>

          <mat-form-field appearance="fill">
            <mat-label>Template name</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error>Template name is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Owners name</mat-label>
            <input matInput type="text" formControlName="owner" />
            <mat-error>Template owner is required.</mat-error>
          </mat-form-field>
        </form>
      </main>
    </div>

    <!-- Dependency graph -->
    <div *ngSwitchCase="'dep_graph'" class="create-template__body">
      <app-dependency-graph-editor
        (navigate)="currentComponent = $event"
        [depGraphRef]="templateDepGraphRef"
        [navigationButtons]="depGraphNavigationBtns"
        nodeName="stage"></app-dependency-graph-editor>
    </div>

    <!-- Timeline -->
    <div *ngSwitchCase="'timeline'" class="create-template__body">
      <app-timeline [navigationButtons]="timelineNavigationBtns" (navigate)="currentComponent = $event"></app-timeline>
    </div>

    <div *ngSwitchDefault class="create-template__body"></div>
  </div>
</ng-container>

<ng-template #spinner>
  <div class="center-both spinner-container">
    <mat-spinner [diameter]="100"></mat-spinner>
    <h2>Creating template</h2>
  </div>
</ng-template>
