<ng-container
  *ngIf="{
    workers: dataSource.connect() | async,
    loading: dataSource.isLoading() | async,
    count: dataSource.getCount() | async
  } as data">
  <section class="workers-list">
    <!-- HEADER & PAGINATOR -->
    <header class="paginator-header">
      <div class="paginator-header__top">
        <div class="paginator-header__top-left">
          <b class="bold-info">Workers</b>
          <button mat-icon-button color="accent" (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        <mat-paginator
          id="paginator"
          class="paginator-header__top-right"
          [hidePageSize]="true"
          [length]="data.count"
          [pageSize]="pageSize"
          [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
      <div class="paginator-header__bottom">
        <mat-progress-bar mode="query" class="progress-bar-divider" *ngIf="data.loading"></mat-progress-bar>
        <mat-divider *ngIf="!data.loading"></mat-divider>
      </div>
    </header>

    <!-- WORKER TABLES -->
    <div class="workers-list__body" [@renderTrigger]="data.loading ? 'loading' : 'loaded'">
      <ng-container *ngIf="!data.loading">
        <div *ngFor="let worker of data.workers" class="workers-list__worker">
          <app-worker-table [data]="worker"> </app-worker-table>
        </div>
      </ng-container>

      <b *ngIf="!data.loading && (!data.count || data.count === 0)" class="bold-info">No workers found</b>
    </div>
  </section>
</ng-container>
