/* Workers list */
.workers-list {
  --grid-gap: 1em;
  --column-count: 4;

  &__body {
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: var(--grid-gap);

    .bold-info {
      color: gray;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .workers-list {
    --column-count: 3;
  }
}
@media only screen and (max-width: 900px) {
  .workers-list {
    --column-count: 2;
  }
}
@media only screen and (max-width: 530px) {
  .workers-list {
    --column-count: 1;
  }
}
