@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  .dep-graph {
    border: 1px solid map.get($foreground, divider);
  }

  .dep-graph__canvas {
    background: map.get($background, background);
  }
}
