<form [formGroup]="form" class="form cryton-scrollbar">
  <!-- Listener name -->
  <mat-form-field appearance="fill">
    <mat-label>Listener name</mat-label>
    <input matInput type="text" formControlName="listener_name" placeholder="Name of listener..." />
    <mat-error>Listener name is required</mat-error>
  </mat-form-field>

  <!-- Listener port -->
  <mat-form-field appearance="fill">
    <mat-label>Listener port</mat-label>
    <input matInput appNumberInput type="number" formControlName="listener_port" placeholder="Port number..." />
    <mat-error *ngIf="form.controls.listener_port.hasError('min') || form.controls.listener_port.hasError('max')"
      >Port must be in range 0 - 65535</mat-error
    >
    <mat-error *ngIf="form.controls.listener_port.hasError('pattern')">Value must be a positive whole number</mat-error>
  </mat-form-field>

  <!-- Listner options -->
  <mat-form-field appearance="fill" #argsTextarea>
    <mat-label>Listener options (in YAML)</mat-label>
    <app-code-editor-textarea formControlName="listener_options"></app-code-editor-textarea>
    <mat-error>Invalid YAML</mat-error>
  </mat-form-field>

  <!-- Listener type -->
  <mat-form-field appearance="fill">
    <mat-label>Listener type</mat-label>
    <input matInput type="text" formControlName="listener_type" placeholder="E.g. http" />
  </mat-form-field>

  <!-- Stager type -->
  <mat-form-field appearance="fill">
    <mat-label>Stager type</mat-label>
    <input matInput type="text" formControlName="stager_type" placeholder="E.g multi/bash" />
    <mat-error>Stager type is required</mat-error>
  </mat-form-field>

  <!-- Stager options -->
  <mat-form-field appearance="fill" #argsTextarea>
    <mat-label>Stager options (in YAML)</mat-label>
    <app-code-editor-textarea formControlName="stager_options"></app-code-editor-textarea>
    <mat-error>Invalid YAML</mat-error>
  </mat-form-field>

  <!-- Agent name -->
  <mat-form-field appearance="fill">
    <mat-label>Agent name</mat-label>
    <input matInput type="text" formControlName="agent_name" placeholder="Name of agent..." />
    <mat-error>Agent name is required</mat-error>
  </mat-form-field>

  <!-- Session arguments -->
  <app-session-selection-arguments [isRequired]="true"></app-session-selection-arguments>
</form>
