<app-cryton-card>
  <app-cryton-table [dataSource]="dataSource" [expandedComponent]="expandedComponent" [buttons]="buttons">
    <h1 appCrytonTableTitle>My runs</h1>
  </app-cryton-table>
</app-cryton-card>
