<!-- PARENT - CHILD -->
<header mat-dialog-title>
  <div *ngIf="{ parent: getParentName(), child: getChildName() } as data" class="parent-child">
    <div class="step">
      <span class="step-relation">Parent step:</span><span class="step-name">{{ data.parent }}</span>
    </div>
    <img src="assets/img/right_arrow.svg" alt="right arrow" height="10px" class="arrow" />
    <div class="step">
      <span class="step-relation">Child step:</span><span class="step-name">{{ data.child }}</span>
    </div>
  </div>

  <button mat-button class="add-btn" color="primary" (click)="addCondition()">
    <span><mat-icon>add_circle</mat-icon>Add condition</span>
  </button>
</header>

<mat-dialog-content class="cryton-scrollbar">
  <!-- CONDITIONS -->
  <form [formGroup]="conditionsFormGroup">
    <form *ngFor="let condition of conditions.controls; index as i" [formGroup]="condition" class="condition-form">
      <div class="flex-section">
        <button
          mat-icon-button
          type="button"
          onclick="this.blur()"
          class="cancel-btn"
          (click)="removeCondition(i)"
          [disabled]="this.conditions.length === 1">
          <mat-icon>cancel</mat-icon>
        </button>

        <div class="form-fields">
          <!-- CONDITION TYPE -->
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" (valueChange)="onConditionTypeChange(i, $event)">
              <mat-option *ngFor="let option of typeOptions" [value]="option.value">{{ option.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="condition.get('type').hasError('required')">Condition type is required.</mat-error>
          </mat-form-field>

          <!-- CONDITION VALUE -->
          <div *ngIf="condition.get('type').value as type">
            <form *ngIf="condition.controls.valueForm as valueForm" [formGroup]="valueForm" class="flex-section">
              <ng-container *ngIf="type === 'result'; else textValues">
                <mat-form-field appearance="outline">
                  <mat-label>{{ type | titlecase }}</mat-label>
                  <mat-select formControlName="value">
                    <mat-option *ngFor="let option of resultOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="valueForm.get('value').hasError('required')"
                    >Condition value is required.</mat-error
                  >
                </mat-form-field>
              </ng-container>

              <!-- Text comparison successors -->
              <ng-template #textValues>
                <ng-container *ngIf="type !== 'any'">
                  <mat-form-field appearance="outline" class="checkbox-field">
                    <mat-label>Value</mat-label>
                    <input matInput type="text" formControlName="value" />
                    <mat-error *ngIf="valueForm.get('value').hasError('required')"
                      >Condition value is required.</mat-error
                    >
                  </mat-form-field>
                </ng-container>
              </ng-template>
            </form>
          </div>
        </div>
      </div>

      <mat-divider *ngIf="i < conditions.length - 1"></mat-divider>
    </form>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusRegionstart>Close</button>
  <button
    mat-flat-button
    color="primary"
    (click)="saveEdge()"
    [disabled]="!conditionsFormGroup.valid"
    [matTooltip]="conditionsFormGroup.valid ? null : invalidError"
    matTooltipClass="tooltip-error">
    <mat-icon>save</mat-icon>&nbsp;Save
  </button>
</mat-dialog-actions>
