.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__section-toggle {
    margin-bottom: 1em;

    > * {
      margin: 0.3em 0;
    }
  }

  met-form-field {
    width: 100%;
  }
}
