<header>
  <h1>Settings</h1>
</header>

<mat-progress-bar
  *ngIf="loading$ | async; else divider"
  class="loading-bar"
  color="primary"
  mode="indeterminate"
></mat-progress-bar>

<ng-template #divider>
  <mat-divider></mat-divider>
</ng-template>

<main>
  <form class="settings-form" [formGroup]="settingsForm">
    <h2>Cryton connection</h2>
    <mat-form-field appearance="fill">
      <mat-label>Cryton REST api base URL</mat-label>
      <input type="text" matInput formControlName="restApiUrl" placeholder="http(s)://host:port" />
      <mat-error *ngIf="getControlError(settingsForm, 'restApiUrl') as error">{{ error }}</mat-error>
    </mat-form-field>

    <mat-checkbox color="primary" (change)="toggleApiUrlInput($event)" formControlName="useCustomUrl"
      >Use non-default base URL</mat-checkbox
    >

    <button mat-flat-button (click)="applySettings()" color="primary" [disabled]="!settingsForm.valid">Save</button>
  </form>
</main>
