@import 'src/assets/styles/help-page.scss';

.timeline-help {
  &__states {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__state-color {
    height: 1em;
  }

  &__states-group {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    width: 10em;
  }

  &__states-list {
    background: rgba(0, 0, 0, 0.1);
    list-style-position: inside;
    flex: 1;
    margin: 0;
    padding: 1em;
  }
}
