<app-cryton-card>
  <div class="report-timeline" [ngSwitch]="currentDisplay">
    <ng-container *ngSwitchCase="display.LOADING" [ngTemplateOutlet]="loading"></ng-container>
    <ng-container *ngSwitchCase="display.ERROR" [ngTemplateOutlet]="error"></ng-container>
    <ng-container *ngSwitchCase="display.DEFAULT" [ngTemplateOutlet]="default"></ng-container>
    <ng-container *ngSwitchCase="display.NOT_STARTED" [ngTemplateOutlet]="notStarted"></ng-container>
  </div>
</app-cryton-card>

<ng-template #default>
  <header>
    <h1>
      Execution on worker:
      <span class="worker-name">{{ report.plan_executions[paginator.pageIndex].worker_name }}</span>
    </h1>
    <button mat-button (click)="refresh()"><mat-icon color="primary">refresh</mat-icon> Refresh</button>
  </header>

  <div class="data-panel">
    <app-tick-size-picker (tickChange)="timeline.tickSeconds = $event"></app-tick-size-picker>
  </div>

  <div class="timeline-main tooltip-container" appNoScroll>
    <app-cryton-tooltip
      *ngIf="timeline.displayTooltip$ | async as tooltip"
      [orientation]="tooltip.orientation"
      [x]="tooltip.x"
      [y]="tooltip.y">
      <ng-container *ngIf="tooltip.nodeType === NodeType.CRYTON_STAGE; else crytonStepData">
        <div *ngIf="asStageReport(tooltip.data) as stage">
          <h4>{{ stage.stage_name }}</h4>
          <div class="tooltip-body">
            <span><b>Id:</b> {{ stage.id | shortString: maxTooltipTextLength }}</span>
            <span><b>State:</b> {{ stage.state | shortString: maxTooltipTextLength }}</span>
            <span><b>Start time:</b> {{ stage.start_time | crytonDatetime | shortString: maxTooltipTextLength }}</span>
            <span
              ><b>Schedule time:</b>
              {{ stage.schedule_time | crytonDatetime | shortString: maxTooltipTextLength }}</span
            >
            <span><b>Pause time:</b> {{ stage.pause_time | crytonDatetime | shortString: maxTooltipTextLength }}</span>
            <span
              ><b>Finish time:</b> {{ stage.finish_time | crytonDatetime | shortString: maxTooltipTextLength }}</span
            >
          </div>
        </div>
      </ng-container>

      <ng-template #crytonStepData>
        <div *ngIf="asStepReport(tooltip.data) as step">
          <h4>{{ step.step_name }}</h4>
          <div class="tooltip-body">
            <span><b>Id:</b> {{ step.id | shortString: maxTooltipTextLength }}</span>
            <span><b>State:</b> {{ step.state | shortString: maxTooltipTextLength }}</span>
            <span><b>Result:</b> {{ step.result | shortString: maxTooltipTextLength }}</span>
            <span><b>Start time:</b> {{ step.start_time | crytonDatetime | shortString: maxTooltipTextLength }}</span>
            <span><b>Finish time:</b> {{ step.finish_time | crytonDatetime | shortString: maxTooltipTextLength }}</span>
          </div>
        </div>
      </ng-template>
    </app-cryton-tooltip>

    <app-konva-container *ngIf="timeline" [konvaWrapper]="timeline"></app-konva-container>
  </div>

  <div class="footer">
    <div class="info-container">
      <button mat-flat-button (click)="openHelp()"><mat-icon>info</mat-icon>&nbsp;Help</button>
    </div>
    <mat-paginator
      #paginator
      id="paginator"
      [hidePageSize]="true"
      [length]="report.plan_executions.length"
      [pageSize]="1"
      [showFirstLastButtons]="true"
      (page)="changeExecution($event)">
    </mat-paginator>
  </div>
</ng-template>

<ng-template #loading>
  <div class="timeline-main center-both">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>

<ng-template #error>
  <div class="timeline-main center-both flex-dir-col">
    <h2>AN ERROR OCCURED</h2>
    <h4>Data not available</h4>
  </div>
</ng-template>

<ng-template #notStarted>
  <div class="timeline-main center-both">
    <h2>RUN HASN'T STARTED YET</h2>
  </div>
</ng-template>
