$legend-font-size: 14px;

/* LAYOUT */
.timeline-main {
  height: calc(40vh + 5vw);
  max-height: 50vh;
  min-height: 400px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.worker-name {
  color: rgb(197, 197, 197);
}

/* DATA PANEL */
.data-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.report-data {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 10px;
}
.data-chip {
  display: flex;
  flex-direction: column;

  label,
  span {
    line-height: 17px;
  }

  label {
    color: rgb(180, 180, 180);
    font-size: 11px;
  }

  $span-font-size: 13px;
  span {
    font-size: $span-font-size;
    display: flex;
    align-items: center;
    gap: 5px;

    mat-icon {
      font-size: $span-font-size;
      width: $span-font-size;
      height: $span-font-size;
    }
  }
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* COLOR LEGEND */
.info-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.color-legend {
  font-size: $legend-font-size;
  display: flex;
  align-items: center;
}
.dot {
  height: $legend-font-size;
  width: $legend-font-size;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

// Tooltip
.tooltip-container {
  position: relative;

  h4 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(38, 39, 41);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  }

  .tooltip-body {
    padding-top: 5px;
    display: flex;
    flex-direction: column;

    b {
      color: rgb(78, 80, 83);
    }
    span {
      color: rgb(104, 106, 109);
    }
  }
}
