<div class="stage-creator">
  <header class="stage-creator__header">
    <!-- Help -->
    <button mat-button (click)="openHelp()" type="button"><mat-icon color="primary">info</mat-icon> Help</button>

    <!-- Erase parameters -->
    <button mat-button (click)="eraseParameters()" type="button">
      <mat-icon color="primary">delete</mat-icon> Erase parameters
    </button>

    <!-- Show dependency graph -->
    <button mat-button (click)="navigate.emit(CreateStageComponent.DEP_GRAPH)" type="button">
      <mat-icon color="primary">account_tree</mat-icon> Show dependency graph
    </button>

    <!-- Create stage -->
    <ng-container *ngIf="!editedStage; else saveChanges">
      <div [matTooltip]="getCreationErrors()" matTooltipClass="tooltip-error">
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="handleCreateStage()"
          [disabled]="isCreationDisabled()">
          <mat-icon>add_circle</mat-icon> Create stage
        </button>
      </div>
    </ng-container>

    <!-- Editing buttons -->
    <ng-template #saveChanges>
      <button mat-flat-button (click)="handleCancelClick()" type="button" color="warn">
        <mat-icon>close</mat-icon> Cancel
      </button>

      <div [matTooltip]="getCreationErrors()" matTooltipClass="tooltip-error">
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="handleSaveChanges()"
          [disabled]="isCreationDisabled()">
          <mat-icon>save</mat-icon> Save changes
        </button>
      </div>
    </ng-template>
  </header>

  <main class="stage-creator__main">
    <!-- Stage parameters -->
    <div class="flex-section">
      <div class="params-wrapper">
        <div class="stage-params cryton-scrollbar">
          <h5>STAGE PARAMETERS</h5>
          <app-stage-parameters *ngIf="parentDepGraph" [stageForm]="stageForm"></app-stage-parameters>
        </div>
      </div>
    </div>

    <mat-divider [vertical]="true" class="hideable"></mat-divider>

    <!-- Execution graph preview -->
    <div class="flex-section hideable">
      <div class="graph-preview-wrapper">
        <h5 id="graph-preview-header">GRAPH PREVIEW</h5>
        <div #container id="stage-creator--graph-preview"></div>
      </div>
    </div>
  </main>

  <span class="creation-msg" *ngIf="showCreationMessage$ | async"
    >Stage created!&nbsp;
    <button mat-button (click)="navigateToTemplatesDepGraph()" color="primary">Open dependency graph</button></span
  >
</div>
