<div class="execution-variable">
  <div class="variable-content">
    <aside class="variable">
      <h3>{{ variable.name | shortString: 8 }}</h3>
      <span>{{ variable.value | shortString: 9 }}</span>
    </aside>
    <aside class="controls">
      <button mat-icon-button (click)="view()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="delete()" *ngIf="(loading$ | async) === false; else loading">
        <mat-icon>delete</mat-icon>
      </button>

      <ng-template #loading>
        <mat-spinner diameter="25" strokeWidth="2" class="delete-loading"></mat-spinner>
      </ng-template>
    </aside>
  </div>
</div>
