<app-cryton-card>
  <mat-horizontal-stepper #stepper (selectionChange)="stepChanged(stepper)" animationDuration="0">
    <mat-step label="Introduction" [editable]="true">
      <div class="step-container">
        <app-introduction-page></app-introduction-page>
      </div>
    </mat-step>
    <mat-step label="Create steps" [editable]="true" [hasError]="false">
      <div class="step-container">
        <app-create-step-page></app-create-step-page>
      </div>
    </mat-step>
    <mat-step label="Create stages" [editable]="true">
      <div class="step-container">
        <app-create-stage-page></app-create-stage-page>
      </div>
    </mat-step>
    <mat-step label="Create template" [editable]="true">
      <div class="step-container">
        <app-create-template-page></app-create-template-page>
      </div>
    </mat-step>

    <ng-template #navigation>
      <mat-divider></mat-divider>
      <nav>
        <button mat-button matStepperPrevious [disabled]="stepper.selectedIndex === 0">
          <mat-icon>navigate_before</mat-icon> Previous step
        </button>
        <button mat-button matStepperNext [disabled]="stepper.selectedIndex === 3">
          <mat-icon>navigate_next</mat-icon> Next step
        </button>
      </nav>
    </ng-template>
  </mat-horizontal-stepper>

  <mat-card-footer>
    <ng-container *ngTemplateOutlet="navigation"></ng-container>
  </mat-card-footer>
</app-cryton-card>
