<header mat-dialog-title>
  <mat-icon>info</mat-icon>
  <h1>Step creation help page</h1>
</header>

<mat-dialog-content class="cryton-scrollbar">
  <section>
    <h3>How to create a step?</h3>

    <ol>
      <li>Fill out name <i>(step name must be unique in stage that is currently being created)</i>.</li>
      <li>Select step type.</li>
      <li>Fill out type specific arguments.</li>
      <li><i>(Optional)</i> Set-up output prefix or mapping.</li>
      <li>Click on <b>"Create step"</b> button to create the step.</li>
      <li>
        Step will now appear in <b>Create stage > Show dependency graph</b>, inside a step dispenser. If you don't use a
        step, it will stay in the dispenser even after creating a stage so you can use it in the next stage.
      </li>
    </ol>
  </section>

  <mat-divider></mat-divider>

  <section>
    <h3>Tips</h3>

    <ul>
      <li>Using TAB in attack module args textarea will insert 2 spaces.</li>
      <li>If the <b>"Create step"</b> button is disabled hover over it and it will show you an error message.</li>
      <li>If you mess up, you can quickly erase the whole form with <b>"Erase parameters"</b> button.</li>
    </ul>
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
