@use '@angular/material' as mat;
@import './src/assets/styles/cryton-elements.scss';
@import './src/assets/styles/themes/light.theme.scss';
@import './src/assets/styles/themes/dark.theme.scss';
@import './src/assets/styles/state-colors.scss';
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/ayu-mirage';
@import './src/assets/styles/themes/codemirror-transparent-theme.scss';

@include mat.core();

/* Variables */
:root {
  /* Colors */
  --gray-100: rgb(50 50 50);
  --gray-200: rgb(115 115 115);
  --gray-300: rgb(150 150 150);
  --gray-600: rgb(215 215 215);
  --blue-gray-200: rgb(94 97 99);
  --blue-gray-800: rgb(150 164 172);
  --blue-500: rgb(68 138 255);
  --green-800: rgb(113 204 85);
  --orange-500: rgb(238 131 73);
  --red-300: rgb(213 0 39);
  --yellow-700: rgb(255 217 66);
  --white: rgb(255 255 255);

  /* Element colors */
  --default-text-color: var(--white);
  --darkened-text-color: var(--gray-300);

  /* State colors */
  --state-down-color: var(--blue-gray-800);
  --state-stopping-color: var(--blue-gray-200);
  --state-success-color: var(--green-800);
  --state-ignore-color: var(--orange-500);
  --state-error-color: var(--red-300);
  --state-running-color: var(--blue-500);
  --state-pending-color: var(--yellow-700);

  /* Font sizes */
  --font-size-regular: 1rem;
  --font-size-small: calc(var(--font-size-regular) - 2px);
  --font-size-xs: calc(var(--font-size-regular) - 4px);
  --font-size-medium: calc(var(--font-size-regular) + 2px);
  --font-size-large: calc(var(--font-size-regular) + 4px);
}

/* Global style */
body {
  height: 100vh;
}
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--default-text-color);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Utils */
.wrapper {
  max-width: 1250px;
  width: 95%;
}
.app-no-padding-dialog .mat-dialog-container {
  padding: 0;
}
.unselectable {
  user-select: none;
}
.center-horizontal {
  display: flex;
  justify-content: center;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}
input.number-input--arrowless {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

/* Material icons */
.material-icons.small {
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  transition: 0.2s;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url('./assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('./assets/fonts/MaterialIcons-Regular.woff') format('woff');
}

/* CodeMirror */
.CodeMirror {
  padding: 0.7rem;
  height: auto;
  width: 100%;
  line-height: 1.2;
}
