/* CRYTON ELEMENTS */
.cryton-section-header {
  border-bottom: 1px solid rgb(187, 187, 187);
}
.cryton-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
}
.cryton-scrollbar::-webkit-scrollbar-track {
  border-radius: 20px;
}
.cryton-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

/* TOOLTIP ERROR */
.tooltip-error {
  white-space: pre-line;
  font-size: var(--font-size-small);
}

/* SNACKBAR ALERT */
.white-snackbar {
  background: var(--white) !important;
}

/* BOLD INFO */
.bold-info {
  font-weight: bold;
  font-size: var(--font-size-large);
}

/* TABLE */
.cryton-table__title {
  font-weight: bold !important;
  font-size: var(--font-size-large) !important;
  margin: 0 !important;
}

/* PAGINATOR HEADER */
.paginator-header {
  &__top {
    display: flex;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      align-items: center;
    }
  }
  &__bottom {
    margin-bottom: 1em;
  }

  mat-paginator {
    background: none !important;
    padding: 0 !important;
  }
}

/* PROGRESS BAR */
mat-progress-bar.progress-bar-divider {
  height: 1px;
}
