.state {
  &--down {
    background: var(--state-down-color);
    color: var(--white);
  }

  &--stopping {
    background: var(--state-stopping-color);
    color: var(--white);
  }

  &--success {
    background: var(--state-success-color);
    color: var(--gray-100);
  }

  &--ignore {
    background: var(--state-ignore-color);
    color: var(--white);
  }

  &--error {
    background: var(--state-error-color);
    color: var(--white);
  }

  &--running {
    background: var(--state-running-color);
    color: var(--white);
  }

  &--pending {
    background: var(--state-pending-color);
    color: var(--gray-100);
  }

  &--darker {
    background: rgba(0 0 0 / 0.1);
  }
}
