<form [formGroup]="form" class="form cryton-scrollbar">
  <!-- Use agent -->
  <mat-form-field appearance="fill">
    <mat-label>Use agent</mat-label>
    <input type="text" matInput formControlName="use_agent" placeholder="Name of agent..." />
    <mat-error>Use agent field is required</mat-error>
  </mat-form-field>

  <!-- Execution option -->
  <mat-form-field appearance="fill">
    <mat-label>Execution option</mat-label>
    <mat-select [formControl]="argsTypeCtrl" placeholder="What to execute" (valueChange)="onArgsTypeChange($event)">
      <mat-option *ngFor="let opt of argsTypeOptions" [value]="opt.value">{{ opt.name }}</mat-option>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <!-- Shell command fields -->
  <div
    class="form"
    *ngIf="argsTypeCtrl.value === EmpireExecuteArgumentsType.SHELL_COMMAND"
    formGroupName="shellCmdForm">
    <mat-form-field appearance="fill">
      <mat-label>Shell command</mat-label>
      <input type="text" matInput formControlName="shell_command" placeholder="E.g. whoami" />
      <mat-error>Shell command is required</mat-error>
    </mat-form-field>
  </div>

  <!-- Empire module fields -->
  <div
    class="form"
    *ngIf="argsTypeCtrl.value === EmpireExecuteArgumentsType.EMPIRE_MODULE"
    formGroupName="empireModuleForm">
    <!-- Module -->
    <mat-form-field appearance="fill">
      <mat-label>Module</mat-label>
      <input type="text" matInput formControlName="module" placeholder="E.g. collection/sniffer" />
      <mat-error>Module is required</mat-error>
    </mat-form-field>

    <!-- Module arguments -->
    <mat-form-field appearance="fill">
      <mat-label>Module arguments (in YAML)</mat-label>
      <app-code-editor-textarea formControlName="module_arguments"></app-code-editor-textarea>
      <mat-error>Invalid YAML format</mat-error>
    </mat-form-field>
  </div>
</form>
