<ng-container *ngIf="planDescription">
  <h1>Plan Overview</h1>
  <h2>{{ planDescription.name }}<span class="gray-text"> by </span>{{ planDescription.owner }}</h2>

  <div class="plan-overview-container">
    <app-plan-overview [planDescription]="planDescription"></app-plan-overview>
  </div>
</ng-container>
