<form [formGroup]="workerForm">
  <h2>Fill out worker data</h2>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Worker's name" formControlName="name" (input)="handleInput()" />
    <mat-error>Name is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Worker's description" formControlName="description" (input)="handleInput()" />
    <mat-error>Description is required.</mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="force" color="primary">Force</mat-checkbox>
  <mat-hint>Creates worker even if the name is not unique</mat-hint>
</form>
